<div id="display">
    <div class="info_field number" id="velX"><span>velX</span><span class="val"></span></div>
    <div class="info_field number" id="velY"><span>velY</span><span class="val"></span></div>
    <div class="info_field number" id="xPos"><span>xPos</span><span class="val"></span></div>
    <div class="info_field number" id="yPos"><span>yPos</span><span class="val"></span></div>
    <div class="info_field number" id="mousedown"><span>mousedown</span><span class="val"></span></div>
    <div class="info_field number" id="mouseactive"><span>mouseactive</span><span class="val"></span></div>
</div>
