---
title: Filter test
layout: clean
---

<% content_for :scripts do %>
    <%= javascript_include_tag  "pixi-only" %>
<% end %>
<% content_for :scripts do %>
    <%= javascript_include_tag  "particle-test" %>
<% end %>
<% content_for :styles do %>
    <%= stylesheet_link_tag  "particle-test" %>
<% end %>




<div id="canvas" class="canvas" ><div class="pointer hide"></div></div>

<div>
    <button id="tran1">Transfer stage 1>2</button>
    <button id="tran2">Transfer stage 2>1</button>
</div>

<script>

</script>
